/* NAV STARTS */
.mynav {
    padding: 1% 7% 1% 8%;
}

.navbar {
    padding: 0;
}

.nav-logo {
    margin: 4% 0;
}

.navbar li {
    list-style: none;
}

.navbar li:last-child {
    margin-left: 5px;
}

.navbar li .nav-link {
    display: inline-block;
    padding: 5% 7%;
    width: calc(78px + 1vw);
    text-align: center;
    text-transform: uppercase;
    color: hsl(229, 31%, 21%);
    letter-spacing: 2px;
    font-size: calc(8px + .5vw);
}

.navbar li .nav-link:hover {
    color: hsl(0, 94%, 66%);
}

.navbar li:last-child .nav-link {
    width: calc(80px + 2vw);
    background-color: hsl(0, 94%, 66%);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px hsl(0, 0%, 90%);
    color: #fff;
    font-weight: 500;
    border: 2px solid hsl(0, 94%, 66%);
}

.navbar li:last-child .nav-link:hover {
    color: hsl(0, 94%, 66%);
    background-color: #fff;
}

@media only screen and (max-width: 661px) {
    .navbar {
        display: block;
        margin: 0;
        padding: 0;
        background-color: red;
    }

    .navbar li {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .navbar li:last-child {
        margin: 0;
    }

    .navbar li a:hover {
        color: hsl(0, 94%, 66%);
    }

    .navbar li .nav-link:last-child {
        margin: 0;
        width: 100%;
        border: none;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
        color: hsl(229, 31%, 21%);
    }
}