body{
	font-family: "rubik";
	font-size: calc(10px + .5vw);
}
.mynav{
	padding: 1% 7%;
}
.login{
	
}

.hero{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 5% 7% 0;
}

.hero-writeup{
	padding-right: 7%;
}
.hero-writeup h1{
	font-weight: 500;
	font-size: calc(35px + .1vw);
	color: hsl(229, 31%, 21%);
	/* font-size: 50px; */
}
.hero-writeup p{
	color: hsl(0, 0%, 60%);
}
.get-chrome-btn{
	color: white;
	border-radius: 5px;
	background-color: hsl(231, 69%, 60%);
	font-weight: 500;
	font-size: calc(15px + .1vw);
}
.get-firefox-btn{
	color: hsl(229, 31%, 21%);
	border-radius: 5px;
	background-color: hsl(0, 0%, 97%);
	box-shadow: 0px 4px 5px 1px hsl(0, 0%, 90%);
	border: 0;
	font-weight: 500;
	opacity: 0.8;
	font-size: calc(15px + .1vw);
}
.hero-img .hero-img-illustrate{
	position: relative;
}
.hero-img .hero-img-illustrate img{
	position: relative;
	right: -12%;
}
.hero-img-bg{
	background-color: hsl(231, 69%, 60%);
	position: absolute;
	height: 75%;
	width: 100%;
	bottom: 0;
	left: 45%;
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 25%;
	z-index: -1;
}
