body {
    font-family: "rubik";
    font-size: calc(10px + .5vw);
    position: relative;
    height: 100vw;
}

/* overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: hsl(229, 31%, 21%);
    z-index: 1;
}

.show-overlay {
    display: block;
}

.overlay .social-links {
    position: relative;
    top: 90%;
}

.overlay .social-links a {
    margin: 0 5%;
}

/* disable scrolling */
.disable-scroll {
    overflow: hidden;
}

/* NAV STARTS */
.mynav {
    padding: 3% 7% 1% 8%;
    width: 100%;
    margin: 0;
}

.style-svg {
    margin: 2.5% 0;
}

.top-menu {
    display: none;
    cursor: pointer;
}

.navbar {
    padding: 0;
    width: 100%;
    margin: 0;
}

.navbar li {
    list-style: none;
}

.navbar li:last-child {
    margin-left: 5px;
}

.navbar li .nav-link {
    display: inline-block;
    padding: 5% 7%;
    width: calc(78px + 1vw);
    text-align: center;
    text-transform: uppercase;
    color: hsl(229, 31%, 21%);
    letter-spacing: 2px;
    font-size: calc(8px + .5vw);
}

.navbar li .nav-link:hover {
    color: hsl(0, 94%, 66%);
}

.navbar li:last-child .nav-link {
    width: calc(80px + 2vw);
    background-color: hsl(0, 94%, 66%);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px hsl(0, 0%, 90%);
    color: #fff;
    font-weight: 500;
    border: 2px solid hsl(0, 94%, 66%);
}

.navbar li:last-child .nav-link:hover {
    color: hsl(0, 94%, 66%);
    background-color: #fff;
}

@media only screen and (max-width: 914px) {
    .mynav .col-6:first-child {
        width: 40%;
    }

    .mynav .col-6:last-child {
        width: 60%;
    }
}

@media only screen and (max-width: 746px) {
    .mynav {
        position: relative;
        z-index: 2;
    }

    .top-menu {
        display: inline;
    }

    .mynav .col-6:first-child {
        padding-bottom: 5%;
    }

    .mynav .col-6:last-child {
        position: relative;
    }

    .mynav .col-6:last-child .navbar {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mynav .col-6:first-child,
    .mynav .col-6:last-child {
        width: 100%;
        display: block;
    }

    .mynav .col-6:first-child .top-menu {
        position: absolute;
        right: 3%;
    }

    .mynav .col-6:first-child {
        position: relative;
    }

    .svg path.white,
    .svg .white,
    .top-menu svg path.white {
        fill: #fff;
    }

    .mynav .col-6:last-child ul.navbar {
        display: none;
        margin: 0;
        padding: 0;
    }

    .mynav .col-6:last-child ul.navbar li:first-child {
        border-top: 1px solid hsl(240, 1%, 37%);
    }

    .mynav .col-6:last-child ul.navbar li {
        display: list-item;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid hsl(240, 1%, 37%);
        padding: 3% 0;
    }

    .mynav .col-6:last-child ul.navbar li:last-child {
        border: 0;
    }

    .mynav .col-6:last-child ul.navbar li a {
        font-size: calc(15px + 1vw);
        color: #fff;
        display: inline-block;
        width: 100%;
        padding: 1% 0;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .navbar li:last-child a.nav-link:last-child {
        margin: 2% 0;
        width: 100%;
        border: none;
        background-color: #fff;
        border-radius: 0;
        box-shadow: none;
        border-style: inset;
        border-radius: 5px;
        background-color: transparent;
    }

    .top-menu svg.black path,
    svg .svg g.black path {
        fill: hsl(229, 31%, 21%);
    }
}


/* HERO STARTS */
.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5% 7% 0;
    overflow-x: hidden;
}

.hero-writeup {
    padding-right: 7%;
}

.hero-writeup h1 {
    font-weight: 500;
    font-size: calc(30px + .5vw);
    color: hsl(229, 31%, 21%);
}

.hero-writeup p {
    color: hsl(0, 0%, 60%);
}

.writeup-text {
    margin: 5% 0;
}

.get-chrome-btn {
    color: white;
    border-radius: 5px;
    background-color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    font-weight: 500;
    font-size: calc(10px + .5vw);
    margin-right: 5px;
}

.get-chrome-btn:hover {
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
    background-color: #fff;
}

.get-firefox-btn {
    color: hsl(229, 31%, 21%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 97%);
    border: 2px solid hsl(0, 0%, 97%);
    box-shadow: 0px 4px 5px 1px hsl(0, 0%, 90%);
    border: 0;
    font-weight: 500;
    opacity: 0.8;
    margin-left: 5px;
    font-size: calc(10px + .5vw);
}

.get-firefox-btn:hover {
    background-color: #fff;
    border: 2px solid hsl(229, 31%, 21%);
    box-shadow: none;
    color: hsl(229, 31%, 21%);
}

.hero-img .hero-img-illustrate {
    position: relative;
}

.hero-img .hero-img-illustrate img {
    position: relative;
    right: -12%;
}

.hero-img-bg {
    background-color: hsl(231, 69%, 60%);
    position: absolute;
    height: 75%;
    width: 100%;
    bottom: 0;
    left: 45%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    z-index: -1;
}

@media only screen and (max-width:905px) {
    .hero-writeup {
        padding-right: 0;
    }

    .hero-writeup h1 {
        font-weight: 500;
        font-size: calc(23px + 1vw);
        color: hsl(229, 31%, 21%);
    }

    .get-chrome-btn,
    .get-firefox-btn {
        font-size: calc(5px + 1vw);
    }
}

@media only screen and (max-width:661px) {
    .hero {
        display: block;
        flex-direction: row-reverse;
        align-items: center;
        padding: 10% 7% 0;
        overflow-x: hidden;
    }

    .hero-writeup {
        padding: 10% 7% 0;
        width: 100%;
        text-align: center;
    }

    .hero-writeup h1 {
        font-size: calc(23px + 1.2vw);
    }

    .writeup-text {
        margin: 5% 0;
        font-size: calc(10px + 1vw);
    }

    .get-chrome-btn {
        font-size: calc(12px + .8vw);
        margin-right: 2px;
    }

    .get-firefox-btn {
        margin-left: 2px;
        font-size: calc(12px + .8vw);
    }

    .hero-img {
        width: 100%;
        display: block;
    }

    .hero-img .hero-img-illustrate {
        display: block;
    }

    .hero-img .hero-img-illustrate img {
        right: 0%;
    }

    .hero-img-bg {
        display: block;
        height: 80%;
        width: 115%;
        left: 20%;
    }
}